*.db
.DS_Store?                                                                                                                                                 
*~                                                                              
*.swp                                                                           
Thumbs.db
local
